<style>
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top:0;
  left:0;
  width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  
}
  h1 {
    color:white;
    text-align:center;
}
 p{
    color:white;
 }
body {
    background-color: blue;
  }
</style>
