html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #2f3061;
  color: #f7fff7;
  font-family: "Comic Sans MS", cursive;
}
h2 {
  font-size: 3em;
}
img {
  height: 250px;
  width: 250px;
}
section {
  display: block;
}
p {
  color: #f7fff7;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top:0;
  left:0;
  width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  
}

#myprojects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  text-align: center;
}

#profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
@media (max-width: 300px) {
  #welcome-section {
    height: 1em;
  }
}
